/** BlogTools CSS */
.blog_tools_blog_image {
	margin: 5px;
	padding: 5px;
	border: 1px solid #CECECE;
}

.blog-tools-blog-image-master {
	margin: 0;
	padding: 0;
	border: none;
}

.blog-tools-blog-image-master img {
	width: 100%;
}

.blog-tools-full-owner {
	border: 1px solid #4690D6;
	background: #E4ECF5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#blog-tools-full-related .elgg-body > div {
	float: left;
	width: 50%;
}

#blog-tools-full-related .elgg-image-block {
	padding: 0;
	margin: 0 10px 10px 0;
	height: 100px;
	overflow: hidden;
}

#blog-tools-full-related .elgg-image-block:hover {
	background: #E4ECF5;
}

.blog_tools_info_wrapper p.tags,
.blog_tools_info_wrapper p.categories {
	display: inline-block;
}

.blog_tools_info_wrapper p.tags,
.blog_tools_info_wrapper p.blog_tools_categories_no_tags {
	margin: 0 0 7px 5px !important;
}

.blog_tools_info_wrapper .blog_post_icon {
	margin: 0 5px 0 0;
}

.blog_tools_widget_items_container > ul.elgg-list-entity > li.elgg-item {
	display: none;
}

.blog_tools_widget_items_container .groupicon {
	float: left;
	margin-right: 20px;
}

.blog_tools_widget_items_navigator {
	padding-top: 5px;
	text-align: center;
}

.blog_tools_widget_items_navigator > span {
	border: 1px solid #CCCCCC;
	cursor: pointer;
	padding: 2px 4px;
	margin: 0 2px;
}

.blog_tools_widget_items_navigator > span.active,
.blog_tools_widget_items_navigator > span:hover {
	background: #CCCCCC;
}

.blog_tools_widget_items_navigator > span.active {
	cursor: auto;
}

.blog-tools-river-item .blog_tools_blog_image {
	margin: 0 5px 0 0;
	padding: 0;
	border: none;
	float: left;
}

.elgg-menu .elgg-menu-item-comments-count {
	margin-left: 3px;
}
