# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
insert_final_newline = true
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[{Gruntfile.js,grunt/*.js,package.json,.travis.yml,yarn.lock}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[{composer.json,composer.lock}]
indent_style = space
