[submodule "mod/hypeframework"]
	path = mod/hypeframework
	url = https://github.com/Pandurx-Elgg/hypeframework.git
[submodule "mod/hypeforum"]
	path = mod/hypeforum
	url = https://github.com/Pandurx-Elgg/hypeforum.git
