version: '2'
services:
  # ###########################################################################
  # Uncomment if you want to use a custom host such as http://gcconnex.local
  #
  # You would need to ensure your chosen custom host resolved correctly on your
  # system... typically by adding entries to your system's host file.
  # /etc/hosts on Linux / Mac OS
  # %SYSTEM%\drivers\etc\hosts on Win (C:\Windows\System32\drivers\etc\hosts)
  # ###########################################################################
  # nginx-proxy:
  #   image: jwilder/nginx-proxy
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - /var/run/docker.sock:/tmp/docker.sock:ro
  #   logging:
  #     driver: none

  # ###########################################################################
  # The GCConnex container.  Will be accessible at http://localhost:8080, or
  # via the hostname provided in the VIRTUAL_HOST environment variable if
  # nginx-proxy is uncommented above.
  # ###########################################################################
  gcconnex:
    build: .
    ports:
      - 80:80
    volumes:
      - .:/var/www/html
      - ./data/data:/data
      - /var/www/html/vendor
      - /var/www/html/docker
      - /var/www/html/mod/pleio/vendor
    depends_on:
      - gcconnex-db
      # - nginx-proxy
    environment:
      - VIRTUAL_HOST=gcconnex.local
      - DOCKER=1
      - INIT=gccollab  # gcconnex or gccollab: initial install to replicate one of those. 0 (or anything else really): no initial install
      - HOME=/var/www/html
      - DBHOST=gcconnex-db
      - DATAROOT=/data/
      - WWWROOT=http://gcconnex.local/
      - SOLR_CRAWLER=solr-crawler-thing
#	  - SOLR_CRAWLER_USER=1
      - E2E_TEST_INIT=true # if true, generates some content and use account for use in running tests, but may be useful for general dev too

  # ###########################################################################
  # The GCConnex cron container.  This container is responsible for executing
  # elgg's built in cron based on the recommended settings.
  # ###########################################################################

#  gcconnex-cron:
#    build:
#      context: .
#      dockerfile: ./Dockerfile.cron
#    volumes:
#      - .:/var/www/html
#      - ./data/data:/data
#    depends_on:
#      - gcconnex-db

  # ###########################################################################
  # Database container for gcconnex, accessible from within gcconnex using the
  # network host "gcconnex-db".
  # ###########################################################################
  gcconnex-db:
    image: library/mysql:5.6
    volumes:
      - ./data/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=gcconnex
      - MYSQL_DATABASE=elgg
      - MYSQL_USER=elgg
      - MYSQL_PASSWORD=gcconnex

# this setup doesn't persist the index, you will need to run a re-index when restarting the container from http://gcconnex.local/admin/administer_utilities/solr_index
#  gcconnex-solr:
#    ports:
#      - 8983:8983
#    image: library/solr:6
#    command: solr-precreate dev /dev-config
#    volumes:
#      - ./.solr-config:/dev-config/conf
