/*
* Custom styles for gc_tags mod
* 
*/

.tags-modal{
    background-color: rgba(0, 0, 0, 0.3);
}

.selectize-control.plugin-clear_button .clearAll {
    font-size: 16px;
    position: absolute;
    right: 1px;
    z-index: 10;
    top: -25px;
    cursor: pointer;
    color: #047177;
    text-decoration: underline;
    &.disabled {
        opacity: .5;
        cursor: default;
    }
    
    &:active,
    &:focus {
        outline: 0;
    }
}
