.elgg-river-layout .elgg-form-thewire-add .elgg-input-access {
	float: none;
}

.thewire-tools-widget-access {
	max-width: 200px;
}

.elgg-form-thewire-add .ui-helper-hidden-accessible {
	display: none;
}

.ui-autocomplete .ui-menu-item .ui-state-focus {
	display: block;
	background-color: #EEE;
}

#thewire-tools-reshare-wrapper {
	width: 600px;
}

.thewire-thread {
	display: none;
	margin-left: 5px;
	padding-left: 5px;
	border-left: 3px solid #ccc;
}

.thewire-thread .elgg-list > li:last-child {
	border: none;
}

.elgg-menu .elgg-menu-item-thewire-tools-reshare-count {
	margin-left: 3px;
}

.thewire-tools-reshare-popup {
	width: 350px;
}