.widget_manager_hide_header > .elgg-head,
.widget_manager_hide_header_admin > .elgg-head {
	display: none;
}

.widget_manager_hide_header_admin:hover > .elgg-head {
	display: block;
}

.widget_manager_hide_header_admin:hover > .elgg-body {
	border-top-width: 2px;
}

.elgg-module-widget.widget_manager_disable_widget_content_style > .elgg-body,
.widget_manager_hide_header_admin > .elgg-body,
.widget_manager_hide_header > .elgg-body {
	border-top-width: 0px;
}

.elgg-module-widget.widget_manager_disable_widget_content_style {
	background: none;
	padding: 0px;
}

.elgg-module-widget.widget_manager_disable_widget_content_style .elgg-widget-content {
	padding: 0px;
}

.elgg-module-widget.widget_manager_disable_widget_content_style > .elgg-head {
	border: 2px solid #DEDEDE;
}

.widget-manager-groups-widgets-top-row {
	width: 100%;
	min-height: 0px !important;
}

.widget-manager-groups-widgets-top-row-highlight {
	min-height: 50px !important;
}

.widget-manager-widget-access .elgg-text-help {
	display: none;
}