/*
 * filename shareWidget.css
 * author: Nicholas Pietrantonio
 * purpose: css for styling share button.
 */
.share-btn-icon img
{
    width: 26px;
    padding-right: 4px;
}
.share-float
{
    float: left;
}

.gcc-share-button
{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5375;

    display: inline-block;

    margin-bottom: 0;
    padding: 4px 6px;

    cursor: pointer;
    -webkit-user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;

    color: #fff;
    border: 1px solid transparent;
    border-color: #055959;
    border-radius: 4px;
    background-color: #055959;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.gcc-share-button:active
{
    text-decoration: none;

    color: #fff;
    background-color: #007173;
}

#cometchat
{
    display: none !important;
}
