/*
 * custom.css
 *
 * Override css styling of bootstrap fileinput
 *
 * @package multi_file_upload
 * @author Ethan Wallace
 */

/*Initial input loading
  -Make text reasonable size
  -Make loading.gif visible to show loading*/
.file-loading {
  height:42px;
  font-size:16px;
  color:black;
  background:transparent url('../img/loading.gif') right no-repeat;border:0;
  background-size:30px 30px;
  padding-right:32px  !important;
  text-align: left;
}

.multi-input-focus {
  box-shadow: 0 0 2px 2px #fca44c;
}

.btn-file {
  cursor: pointer;
}

/*Form size*/
.input-group-btn {
  width: 42% !important;
  float: left;
}
.kv-fileinput-caption {
  width: 55% !important;
  float: left;
}

.file-drop-zone-title {
  color: #696969;
}

/*Hiding some components - maybe remove indivdual upload or remove all from x
  -Close input x
  -Upload file on individual file cards
.file-footer-buttons .kv-file-upload, .close {
  display: none;
  visibility:hidden;
}*/
.close {
  display: none;
  visibility:hidden;
}

.modal-content .modal-header{
  border-bottom: none;
}

.file-drop-zone {
  margin: 1px;
    padding: 5px;
}

.file-preview-frame {
  background:#fefefe;
  width:26%;
  height:160px;
}

.file-footer-caption {
  color: #555;
}

.file-zoom-dialog .file-other-icon {
  font-size: 8em !important;

}

.file-preview-error {
  opacity:0.85;
  background: #f2dede;
}

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-remove:before {
content: "\e014"; }