/*
 * custom.css
 *
 * Override css styling of bootstrap fileinput
 *
 * @package multi_file_upload
 * @author Ethan Wallace
 */

/*Initial input loading
  -Make text reasonable size
  -Make loading.gif visible to show loading*/
.file-loading {
  height:42px;
  font-size:16px;
  color:black;
  background:transparent url('../img/loading.gif') right no-repeat;border:0;
  background-size:30px 30px;
  padding-right:32px  !important;
  text-align: left;
}

/*Form size*/
.input-group-btn {
  width: 42% !important;
  float: left;
}
.kv-fileinput-caption {
  width: 55% !important;
  float: left;
}

/*Hiding some components - maybe remove indivdual upload or remove all from x
  -Close input x
  -Upload file on individual file cards
.file-footer-buttons .kv-file-upload, .close {
  display: none;
  visibility:hidden;
}*/
.close {
  display: none;
  visibility:hidden;
}

.modal-content .modal-header{
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.file-drop-zone {
  margin: 1px;
    padding: 5px;
}

.file-preview-frame {
  background:#fefefe;
  width:26%;
  height:160px;
}

.file-zoom-dialog .file-other-icon {
  font-size: 8em !important;

}

.file-preview-error {
  opacity:0.85;
  background: #f2dede;
}
