body
{
    font-family: sans-serif;

    color: #333;
}
/*clearfix fixes everything, clearly*/
.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}

.clearfix:after
{
    clear: both;
}

.example-container
{
    /*This is just a container to hold the widget*/
    width: 450px;
    margin: 0 auto;
}
/*Start of containers */
.wire-widget-container
{
    font-family: sans-serif;

    width: 100%; /*will respond to any container size*/

    color: #333;
    /* actual widget container*/
    border: 1px solid #ddd;
}

.wire-widget-header
{
    padding: 10px;

    border-bottom: solid 1px #ddd;
    /*positions the background logo image*/
    background-color: #f5f5f5;
    background-image: url('imgs/gcconnex_logo_bg.png');
    background-repeat: no-repeat;
    background-position: 96%;
}

.wire-widget-header h3
{
    font-size: 1.3em;

    margin: 0;
    padding: 2px 0 15px 0;
}

.wire-widget-body
{
    overflow-y: scroll;

    height: 400px; /*you can change this height*/
}

.wire-widget-list
{
    margin: 0;
    padding: 0;
    /* put this class on the ul that holds the list of tweets*/

    list-style: none;
}

.widget-li
{
    display: block;

    padding: 12px 10px;

    list-style: none;

    border-bottom: solid 1px #ddd;
}

.widget-li:last-child
{
    border: none;
}

.wire-widget-element
{
    clear: both;
}

.wire-widget-avatar
{
    float: left;

    width: 17%;
    margin-right: 3%;
}

.wire-widget-content
{
    float: left;

    width: 78%;
}

.wire-widget-footer
{
    min-height: 25px;
    padding: 10px;

    border-top: 1px solid #ddd;
}
/* Misc Style Classes*/
.timeStamp
{
    font-size: 14px;
    font-style: italic;

    margin-left: 6px;

    color: #6d6d6d;
}

.wire-widget-img
{
    width: 100%;

    border-radius: 50%;
}

.gcconnex-link
{
    float: right;
}

.wire-widget-user
{
    padding-bottom: 6px;
}

.wire-widget-container a
{
    color: #047177;
}

.wire-widget-filter-text
{
    font-weight: bold;
}

.wire-widget-load-more
{
    width: 100%;
    min-height: 35px;

    color: #047177;
    border: none;
    background-color: #f5f5f5 ;
}

.wire-widget-load-more:hover
{
    cursor: pointer;
    text-decoration: underline;

    background-color: #f9f9f9;
}
