.administrative-topic-tool
{
	padding: 12px 5px 12px 5px;

	border: 2px solid #f00;
}

.category-main-box
{
	margin: 0;
	padding: 15px;

	border: 1px solid #ddd;
	background-color: #f5f5f5;
}

.category-options
{
	text-align: right;
}

.forum-options,
.topic-options
{
	display: inline-block;
	float: right;

	width: 15%;
	height: 100%;
	padding-right: 3px;
	padding-left: 3px;

	text-align: left;
	text-align: center;
	vertical-align: middle;
}

.forum-options-edit,
.topic-options-edit
{
	display: inline-block;
	float: right;

	width: 15%;
	height: 100%;

	text-align: left;
}

.edit-options-hjforumcategory,
.edit-options-hjforumtopic,
.edit-options-hjforumpost
{
	display: inline-block;

	padding-right: 5px;
	padding-left: 5px;
}

.forums-menu-buttons
{
	display: block;

	width: 100%;
	padding-bottom: 5px;

	text-align: right;
}

.forum-category-issue-notice
{
	padding-top: 25px;
}

.forum-information,
.topic-information
{
	float: right;

	width: 15%;

	text-align: center;
	vertical-align: middle;
}

.category-description
{
	margin: 0;
	padding: 10px 10px 10px 20px;

	vertical-align: middle;

	background-color: #f5f5f5;
}


.forum-main-box,
.topic-main-box
{
	width: 100%;

	vertical-align: middle;

	border: 1px solid #ddd;
	background: #e6e6e6;
}

.forum-header,
.topic-header
{
	font-weight: bold;

	overflow: auto;

	padding: 5px 5px 5px 15px;

	vertical-align: middle;

	border: 1px solid #e6e6e6;
	background-color: #e6e6e6;
}

.forum-info-header,
.topic-info-header
{
	overflow: auto;

	padding: 5px 5px 5px 15px;

	vertical-align: middle;
	vertical-align: middle;

	border: 1px solid #e6e6e6;
	background-color: #fff;
}

.forum-description,
.topic-description
{
	display: inline-block;
	float: left;

	width: 40%;
	height: 100%;
	padding: 5px 5px 5px 15px;

	vertical-align: middle;
}

.forum-description-text
{
	padding: 5px 5px 5px 15px;
}


.topic-content
{
	padding: 15px 15px 15px 15px;

	background-color: #fff;
}

.comment-owner-information-content
{
	display: inline-block;

	width: 100%;
	margin: 0;
	padding: 5px 5px 5px 5px;

	border-bottom: 1px solid #ddd;
}

.topic-owner-information-content
{
	display: inline-block;

	width: 100%;
	margin: 0;
	padding: 15px 15px 15px 15px;

	border-bottom: 1px solid #ddd;
}

.topic-owner-information,
.comment-owner-information
{
	float: right;
	overflow: hidden;

	width: 70%;
}

.topic-owner-icon,
.comment-owner-icon
{
	display: inline-block;
	float: left;
	overflow: hidden;

	width: 30%;
}

.topic-information-options,
.topic-comment-options
{
	display: inline-block;
	float: right;
	overflow: hidden;

	width: 30%;
}

.topic-main-comments
{
	padding: 15px 15px 15px 15px;
}

.topic-comments
{
	padding: 10px 10px 10px 10px;

	border: 1px solid #ddd;
}

.topic-comment-content
{
	padding: 15px 15px 15px 15px;

	background-color: #fff;
}

.forum-empty
{
	overflow: auto;

	padding: 5px 5px 5px 15px;

	vertical-align: middle;

	border: 1px solid #e6e6e6;
	background-color: #fff;
}

.gcforums-table
{
	width: 100%;

	border-collapse: collapse;

	border: 1px solid #ddd;
}

.gcf-user-table,
.gcf-user-td,
.gcf-user-tr
{
	align-content: center;

	width: 100%;

	border-collapse: collapse;

	vertical-align: middle;
}

.gcforums-td-topic,
.gcforums-th-topic
{
	padding: 5px 5px 5px 5px;

	border: 1px solid #ddd;
}

.gcforums-tr
{
	border: 1px solid #ddd;
}

.gcforums-td
{
	padding: 5px;

	text-align: center;
	vertical-align: middle;

	border: 1px solid #ddd;
}

.gcforums-th
{
	font-weight: bold;

	padding: 5px 5px 5px 15px;

	vertical-align: middle;

	border: 1px solid #ddd;
	background-color: #e6e6e6;
}

.gcforums-td-forums,
.gcforums-td-category
{
	padding: 5px 5px 5px 15px;

	vertical-align: middle;

	border: 1px solid #ddd;
}

.gcforums-td-topics
{
	padding: 5px 5px 5px 15px;

	vertical-align: middle;

	border: 1px solid #ddd;
}

.gcforums-th-category
{
	vertical-align: middle;

	border: 1px solid #ddd;
}

.category-space
{
	margin-top: 5px;
}

.forum-category-desc p
{
	padding-top: 5px;
	padding-left: 50px;

	background-color: #f5f5f5;
}

.gcforums-th-category h1
{
	margin: 0;
	padding: 15px;

	border: none;
	background-color: #f5f5f5;
}

.gcforums-th-category-options,
.gcforums-th-topic-options
{
	text-align: right;

	border-left: hidden;
}

.gcforums-td-forums-options
{
	font-size: 75%;

	padding: 5px 5px 5px 5px;

	text-align: left;
	vertical-align: middle;

	border: 1px solid #ddd;
}

.gcforums-title
{
	padding: 7px 7px 7px 7px;
}

.gcforums-menu
{
	display: block;
	float: right;

	padding: 5px;
}

.gcforums-display-topics
{
	padding-top: 25px;
	padding-bottom: 25px;
}

.gcforums-comment-table
{
	width: 100%;

	border-collapse: collapse;

	border: 1px solid white;
}

.gcforums-comment-td
{
	padding-left: 15px;

	border: 1px solid white;
}

.gcforums-comments-menu
{
	text-align: right;
	word-spacing: 10px;
}

.forum-clear
{
	clear: both;
}

.forum-clear h1
{
	font-size: 1.4em;
}
