.gcforums-table {
    border-collapse: collapse;
    border: 1px solid #dddddd;
    width: 100%;
}

.gcf-user-table, .gcf-user-td, .gcf-user-tr {
    border-collapse: collapse;
    width: 100%;
    align-content: center;
    vertical-align: middle;
}

.gcforums-td-topic, .gcforums-th-topic {
    border: 1px solid #dddddd;
    padding: 5px 5px 5px 5px;
}

.gcforums-tr {
    border: 1px solid #dddddd;
}

.gcforums-td {
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.gcforums-th {
    border: 1px solid #dddddd;
    padding: 5px 5px 5px 15px;
    background-color: #e6e6e6;
    vertical-align: middle;
    font-weight:bold;
}

.gcforums-td-forums, .gcforums-td-category  {
    border: 1px solid #dddddd;
    padding: 5px 5px 5px 15px;
    vertical-align: middle;
}

.gcforums-td-topics {
    border: 1px solid #dddddd;
    padding: 5px 5px 5px 15px;
    vertical-align: middle;
}

.gcforums-th-category {
    border: 1px solid #dddddd;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
}

.gcforums-th-category-options, .gcforums-th-topic-options {
    border-left: hidden;
    padding: 5px 5px 5px 5px;
    text-align: right;
}

.gcforums-td-forums-options {
    border: 1px solid #dddddd;
    padding: 5px 5px 5px 5px;
    text-align: left;
    font-size: 75%;
    vertical-align: middle;
}

.gcforums-title {
    padding: 7px 7px 7px 7px;
}

.gcforums-menu {
    right: 25px;
    position: absolute;
    padding-bottom: 50px;
}

.gcforums-display-topics {
    padding-top: 25px;
    padding-bottom: 25px;
}

.gcforums-comment-table {
    border-collapse: collapse;
    border: 1px solid white;
    width: 100%;
}

.gcforums-comment-tr {
    
}

.gcforums-comment-td {
    border: 1px solid white;
    padding-left: 15px;
}

.gcforums-comments-menu {
    word-spacing:10px;
    text-align: right;
}