#TODO Enable this for develop
developers=enabled
elgg_default_plugin_order=disabled
libform_utils=enabled
anuncios=enabled
blog=enabled
bookmarks=enabled
embed=enabled
event_calendar=disabled
externalpages=disabled
file=enabled
garbagecollector=enabled
groups=enabled
htmlawed=enabled
invitefriends=enabled
likes=enabled
logbrowser=enabled
logrogate=enabled
members=enabled
messageboard=enabled
messages=enabled
notifications=enabled
pagseguro=enabled
profile=enabled
profile_manager=enabled
reportedcontent=enabled
search=enabled
thwire=enabled
tinymce=enabled
translationbrowser=enabled
twitter=enabled
uservalidationbyemail=enabled
videos=enabled
zaudio=enabled
amigo_da_cultura=enabled
elggx_fivestar=enabled
google_analytics=enabled
phpmailer=enabled
event_manager=enabled
