#geds-avatar
{
    padding-right: 5px;
}
#profile-details
{
    width: 56%;
}
#mapBody
{
    width: 450px;
    height: 450px;
}
#map
{
    width: 100%;
    height: 75%;
}
#test
{
    min-height: 100px;
}
#deleteOrg
{
    float: right;

    margin-right: 5px;
    margin-bottom: 5px;
}
#table-modal-body
{
    height: 400px;
    max-height: none;
}
.col-xs-12
{
    padding-left: 0;
}

/*****
    Edited mrgn classes below to put back to normal
    ****/
.col-xs-2
{
    width: 45px;
    height: 40px;
}
.elgg-avatar
{
    width: 40px;
    height: 40px;
}

.gcconnex-edit-profile
{
    margin-left: 5px;
}
.org-person
{
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.org-avatar-container
{
    float: left;

    height: 40px;
    padding-right: 5px;
}
.org-avatar
{
    width: 40px;
    height: 40px;
}
.elgg-image-block
{
    padding: 0;
}
.profile-detail-icon
{
    width: 23px;
    margin-left: -2px;
    padding-right: 0;
}
#newTest
{
    overflow-y: scroll;

    height: 450px;
}
#infoText
{
    font-size: x-small;
}
.spinner
{
    height: auto !important;
}
.geds-button
{
    border: solid 1px #055959;
}
